black
coverage
darglint
flake8
flake8-bugbear
flake8-docstrings
flake8-import-order
flake8-mutable
flake8-pep3101
flake8-spellcheck
matplotlib
ppdir
py2app; sys_platform=='darwin'
pyglet
pytest
pytest-cov
pytest-github-actions-annotate-failures
pytest-xdist
snowballstemmer
twine
yappi
wheel
PyGObject
sip
py2exe; sys_platform=='win32'
comtypes; sys_platform=='win32'
wmi; sys_platform=='win32'
